/* 
=======
GENERAL
=======
*/

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

input:focus {
    outline: none;
}

.center-social-container {
    display: none;
}

/* 
=================
CONTACT CONTAINER
=================
*/

.contact-main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 60%;
    max-width: 1080px;
    position: relative;
    padding: 5rem 4rem 3.5rem 5em;
    background-color: rgba(89, 89, 89, .2);
    backdrop-filter: blur(8px);
    transform: translateX(10%);
}

.contact-title {
    position: absolute;
    font-family: 'Playfair Display', serif;
    margin-left: 0;
    font-size: 2.5rem;
    top: -1.6rem;
}

.contact-text {
    width: 50%;
}

.contact-text-small {
    max-width: 23ch;
}

/* .contact-bg {
    position: fixed;
    inset: 0;
    background-color: red;
    z-index: -2;
    background-image: url("../imgs/contact-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
} */

.social-icon + .social-icon {
    margin-left: 1.2rem;
}



/* 
====
FORM
====
*/

.contact-form {
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
}

.contact-input__cont {
    width: 100%;
}

.contact-input {
    width: 100%;
}


.contact-btn__container {
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

.contact-btn__container button {
    background-color: rgba(119, 119, 119, .2);
    backdrop-filter: blur(3px);
    color: white;
    padding: .5rem 3rem;
    border: none;
    margin-left: auto;
}

.contact-socialicon__container {
    margin-top: 3rem;
}



/* 
===========
INPUTS FRAN
===========
*/

.inputes {
	outline: none;
	font-family: 'Montserrat';
	position: relative;
	background: none;
	border: none;
	padding: 5px;
	border-image-slice: 10;
	border-bottom: 2px solid #b5b5b5;
	font-size: 0.9em;
	outline: none; 
    color: white;
    padding-left: .6rem;
}

.tags {
	font-weight: 500;
	color: white;
	font-size: 0.7em;
	transition: .25s;
	transform: translate(20% , 160%) scale(1.4);
	display: inline-block;
    padding-left: .6rem;
}

.inputes:focus {
	border-bottom: 2px solid white;
}

@media (max-width: 799px) {

    .contact-main-container {
        display: block;
        margin-top: 6rem;
    }

    .contact-container {
        width: 100%;
        padding: 2.5rem;    
        transform: translateX(0%);
        backdrop-filter: blur(20px)!important;
        z-index: 1;
    }

    body {
        overflow-y: hidden;
    }

    .contact-title {
        font-size: 2rem;
        top: -1.2rem;
    }

    .contact-text {
        width: 100%;
    }

    .contact-btn__container button {
        width: 100%;
        padding: 1rem 3rem;
        margin-left: 0;
    }

    .contact-socialicon__container {
        margin-top: 1.5rem;
    }

    .contact-btn__container {
        margin-top: 2rem;
        backdrop-filter: blur(20px)!important;
    }
    
}

.contact-input__cont, .contact-btn__container, .contact-socialicon__container, .contact-form, .contact-text, .contact-title, .contact-container  {
    opacity: 0;
}

.contact-input__cont, .contact-btn__container, .contact-socialicon__container, .contact-form, .contact-text, .contact-title  {
    transform: translateY(25%);
}

.contact-input__cont.fade-in, .contact-btn__container.fade-in, .contact-socialicon__container.fade-in, .contact-form.fade-in, .contact-text.fade-in, .contact-title.fade-in, .contact-container.fade-in  {
    transform: translateY(0%);
    transition: opacity .7s cubic-bezier(0.13, 0.77, 0.33, 1), transform .7s cubic-bezier(0.13, 0.77, 0.33, 1);
    opacity: 1;
}

/* .contact-container { outline: 2px solid pink; } */

.contact-form.fade-in  { transition-delay: .99s; }

.contact-text.fade-in { transition-delay: .66s; }

.contact-title.fade-in { transition-delay: .33s; }