body {
    background: black;
}

.inspiracion-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inspiracion-mainText__container.fade-in {
    transition: 3s cubic-bezier(0.13, 0.77, 0.33, 1);
    opacity: 1;
    transform: translateY(0%);
}

.inspiracion-mainText__container.fade-in.fade-out {
    transform: translateY(-100vh);
    transition: 6s cubic-bezier(0.13, 0.77, 0.33, 1);
    }

.inspiracion-bg {
    width: 100%;
    height: 100;
    min-height: inherit;
    position: relative;
    z-index: 100;
    
}

.inspiracion-mainText__container {
    width: 47ch;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 30%;
    opacity: 0;
    transform: translateY(50%);
}

.inspiracion-img-cont {
    height: 100%;
    width: 100%;
}

.inspiracion-img-cont img {
    width: 100%;
    height: 100%;
}

.banner__arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
    cursor: pointer;
    width: 5%;
    opacity: 0;
}

.banner__arrow.fade-in {
    opacity: 1;
    transition: opacity .7s cubic-bezier(0.13, 0.77, 0.33, 1);

}

.flecha {
    animation: float 5s ease-in-out forwards infinite;
}

@keyframes float {

    0% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(-30%);
    }

    100% {
      transform: translateY(0%);
    }

}

.elipse {
    stroke-dasharray: 100;
    stroke-dashoffset: 200;
    animation: elipse-anim 2.5s cubic-bezier(0.13, 0.33, 0.77, 1) infinite;
}

.elipse_4 {
    z-index: 10;
}

@keyframes elipse-anim {
    to {
        stroke-dashoffset: 0;
    }
    }

@media (max-width: 799px) {

    html {
        height: 100%;
    }

    body {
        height: 100%
    }

    main {
        height: 100%;
    }

    .inspiracion-container {
        height: 100%;
    }

    .inspiracion-mainText__container {
        width: 55ch;
        max-width: 85%;
    }

    .inspiracion-bg {
        height: 100%;
        /* CHEQUEAR ESTO! */
        display:inline-block;
        position:relative;
        top:50%;
        transform:translateY(-57%);

    }

    .banner__arrow {
        width: 20%;
        bottom: 9.2rem;
    }

    .inspiracion-img-cont {
        min-height: 100%;
    }
    
    .inspiracion-img-cont img {
    object-fit: cover;
    }
}